:root {
    /* Colors */

        /* Primary */

--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--White: #FFFFFF;

        /* Neutral */

--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--Shadow: #D9E3ED;


    /* Typography */
--Font-size: 1rem
}
/* Start global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    font-family: "Poppins", serif;
    background-color: var(--Very-Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 4rem
}
p {
    font-weight: 400
}
    /* container size */
/* Small */
@media (min-width: 48rem) {
    main {
        width: 46.875rem
    }
}
/* Meduim */
@media (min-width: 62rem) {
    main {
        width: 60.625rem
    }
}
/* Large */
@media (min-width: 75rem) {
    main {
        width: 73.125rem
    }
}
/* Start content */
.intro {
    text-align: center;
}
.intro h1 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1.25rem
}
.intro span {
    display: block;
    font-weight: 600
}
.intro p {
    font-size: var(--Font-size);
    margin: .625rem auto 4.375rem;
    width: 45%;
    color: var(--Grayish-Blue)
}
.content {
    --gap-b: 2rem;
    display: flex;
    gap: var(--gap-b)
}
.col {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-b)
}
.card {
    --border-r: .25rem;
    background-color: var(--White);
    padding: 2rem;
    box-shadow: 0px 5px 15px 4px var(--Shadow);
    border-radius: var(--border-r);
    border-top: 4px solid;
    transition: .5s;
    &:hover {
    transform: translateY(-0.3125rem);
}
}
.cyan {border-color: var(--Cyan)}
.red {border-color: var(--Red)}
.yellow {border-color: var(--Orange)}
.blue {border-color: var(--Blue)}
.card h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--Very-Dark-Blue);
    margin-bottom: .5rem;
    font-weight: 600
}
.card p {
    color: var(--Grayish-Blue);
    font-size: .875rem;
    margin-bottom: 2rem;
    width: 95%
}
.card .icon {
    display: flex;
    justify-content: flex-end
}

@media (max-width: 47.9375rem) {
    .intro h1 {
        font-size: 1.5rem
    }
    .intro p {
        width: 90%
    }
    .content {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px
    }
}
